@{
    ViewBag.Title = "About";
}
<link rel="stylesheet" href="~/Content/css/style.css" />
<link href="~/Content/css/index.css" rel="stylesheet" />

<div class="home-details">
    <div class="home-details1">
        <div class="home-container02">
            <span class="home-text sectionTitle">
                <span></span>
                <br />
            </span>
            <h2 class="home-details-heading heading2">
                About DCT Technologies
            </h2>
            <span class="home-details-sub-heading">
                DCT Technologies is a leading provider of IT services,
                specializing in web development and project assistance for
                students. With a team of experienced professionals, we offer
                expertise in a wide range of technologies including ASP.NET, C#,
                Node.JS, React.JS, HTML, CSS, JavaScript, Bootstrap, JQuery and
                SQL Server. Our goal is to deliver high-quality solutions that
                meet the unique needs of our clients. Whether you are a business
                looking to enhance your online presence or a student seeking
                assistance with your project, DCT Technologies is here to help.
            </span>
        </div>
        <img alt="image"
             src="https://images.unsplash.com/photo-1478432780021-b8d273730d8c?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcwMTY5NDQ2Mnw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=400"
             class="home-details-image" />
    </div>
</div>