@{
    ViewBag.Title = "Contact";
}
<style>
    .addressClass {
        background: linear-gradient(to right, #23074d, #cc5333); /* Gradient background */
        font-family: 'Arial', sans-serif;
        margin:0px;
    }
</style>
<link rel="stylesheet" href="~/Content/css/style.css" />
<link href="~/Content/css/index.css" rel="stylesheet" />

<main aria-labelledby="title">
    <div class="home-faq">
        <div class="home-faq-container">
            <div class="home-faq1">
                <div class="home-container29">
                    <span class="home-text40 sectionTitle">
                        <span>FAQ</span>
                        <br />
                    </span>
                    <h2 class="home-text43 heading2">Common questions</h2>
                    <span class="home-text44">
                        <span>
                            Here are some of the most common questions that we get.
                        </span>
                        <br />
                        <span>
                            <span>
                                <span></span>
                                <span></span>
                            </span>
                            <span>
                                <span></span>
                                <span></span>
                            </span>
                        </span>
                        <span>
                            <span>
                                <span></span>
                                <span></span>
                            </span>
                            <span>
                                <span></span>
                                <span></span>
                            </span>
                        </span>
                    </span>
                </div>
                <div class="home-container30">
                    <div class="question-container">
                        <span class="question-text heading4">
                            <span>What services does DCT Technologies provide?</span>
                        </span>
                        <span class="question-text1">
                            <span>
                                DCT Technologies provides services for IT needs,
                                specializing in ASP.NET, C#, Node.JS, React.JS, HTML, CSS,
                                JavaScript, Bootstrap, JQuery, and SQL Server.
                            </span>
                        </span>
                    </div>
                    <div class="question-container">
                        <span class="question-text heading4">
                            <span>
                                Does DCT Technologies offer services to students for their
                                projects?
                            </span>
                        </span>
                        <span class="question-text1">
                            <span>
                                Yes, DCT Technologies provides services to students for
                                their projects.
                            </span>
                        </span>
                    </div>
                    <div class="question-container">
                        <span class="question-text heading4">
                            <span>What is the website name of DCT Technologies?</span>
                        </span>
                        <span class="question-text1">
                            <span>
                                The website name of DCT Technologies is DCT Technologies.
                            </span>
                        </span>
                    </div>
                    <div class="question-container">
                        <span class="question-text heading4">
                            <span>
                                What are the sections available in the navigation bar?
                            </span>
                        </span>
                        <span class="question-text1">
                            <span>
                                The navigation bar includes Home, Projects, Services,
                                About, Contact Us, and Login or Register.
                            </span>
                        </span>
                    </div>
                    <div class="question-container">
                        <span class="question-text heading4">
                            <span>
                                What technologies does DCT Technologies specialize in?
                            </span>
                        </span>
                        <span class="question-text1">
                            <span>
                                DCT Technologies specializes in ASP.NET, C#, Node.JS,
                                React.JS, HTML, CSS, JavaScript, Bootstrap, JQuery, and
                                SQL Server.
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <address class="addressClass">
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>